<!DOCTYPE html>
<html>
    <head>
        <% include ../views/partials/head %>
    </head>
    <body id="application" ng-app="forum-app" ng-controller="MainCtrl">
    <div id="wrap">
        <div id="main">  
            <% include ../views/partials/header %>
            <ui-view></ui-view>
        </div>
    </div><!-- end wrap -->
    <% include ../views/partials/footer %>
    
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-messages/angular-messages.min.js"></script>
    <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularapp.js"></script>
    <script src="/javascripts/lib/services.js"></script>
    <script src="/javascripts/lib/filters.js"></script>
    
    <script src="/javascripts/controllers/allcategories.js"></script>
    <script src="/javascripts/controllers/addcategory.js"></script>
    <script src="/javascripts/controllers/deletecategory.js"></script>  
    <script src="/javascripts/controllers/allposts.js"></script>
    <script src="/javascripts/controllers/addpost.js"></script>
    <script src="/javascripts/controllers/viewpost.js"></script>
    <script src="/javascripts/controllers/deletepost.js"></script>
  </body>
</html>
