<!-- Add a new Post -->
    <div id="form-container">
        <div class="container">
            <div class="row form-container">
                <form name="addcategoryform" ng-submit="addCategory(addcategoryform.$valid)" novalidate >
                    <div class="col-md-12">
                        <h4>Post Topic</h4>
                        <div class="form-group">
                            <label for="newCategoryTitle">New Category</label>
                            <input type="text" class="form-control" ng-model="newCategoryTitle" name="newCategoryTitle" required ng-minlength="5" ng-maxlength="100" />
                            <div class="error-container" ng-messages="addpostform.newPostTitle.$error" ng-if="addpostform.newPostTitle.$touched">
                                <p ng-message="minlength">Your Post Title is too short.</p>
                                <p ng-message="maxlength">Your Post Title is too long.</p>
                                <p ng-message="required">Your Post Title is required.</p>
                            </div>
                        </div>
                      
                        <button class="btn btn-primary" type="submit" ng-disabled="addcategoryform.$invalid"><i class="fa fa-plus-circle"></i> Add Post</button>
                        <a href="/#/categories/" class="btn btn-default"><i class="fa fa-chevron-left"></i> Go Back</a>
                    </div>
                </form>   
            </div>
        </div>
    </div>