    <!-- USER MESSAGE DISPLAY BLOCK -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-message" ng-show="userMessage !=''">
                    <button class="btn hide-message-btn" ng-click="hideMessage()"><i class="fa fa-times"></i></button>
                    <p>{{userMessage}}</p>
                </div>
            </div>
        </div>
    </div> 
    <!-- POST FORM -->
    <div id="form-container">
        <div class="container">
            <div class="row">
                <form name="addpostform" ng-submit="addPost(addpostform.$valid)" novalidate >
                    <div class="col-md-12">
                        <h1 class="page-title">Create a New Post</h1>
                        <div class="form-group">
                            <label for="newPostTitle">Post Title</label>
                            <div class="text-counter"><span ng-class="{'over-limit' : (maxTitleSize - addpostform.newPostTitle.$viewValue.length) < 0}">{{maxTitleSize - addpostform.newPostTitle.$viewValue.length}}</span></div>
                            <input type="text" class="form-control" ng-model="newPostTitle" name="newPostTitle" required ng-minlength="1" ng-maxlength="maxTitleSize" />
                            <div class="error-container" ng-messages="addpostform.newPostTitle.$error" ng-if="addpostform.newPostTitle.$touched">
                                <p ng-message="minlength">Your Post Title is too short.</p>
                                <p ng-message="maxlength">Your Post Title is too long.</p>
                                <p ng-message="required">Your Post Title is required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPostContent">Post Content</label>
                            <div class="text-counter">{{maxPostContentSize - newPostContent.length}}</div>
                            <textarea class="form-control" maxlength="{{maxPostContentSize}}" rows="4" cols="50" ng-model="newPostContent" name="newPostContent" ng-trim="false" required ng-maxlength="{{maxPostContentSize}}"></textarea>
                            
                            <div class="error-container" ng-messages="addpostform.newPostContent.$error" ng-if="addpostform.newPostContent.$touched">
                                <p ng-message="minlength">Your Post Content is too short.</p>
                                <p ng-message="maxlength">Your Post Content is too long.</p>
                                <p ng-message="required">Post Content is required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category" id="category" class="form-control" ng-model="newPostCategory" required>
                                 <option value="">--Please Select a Category--</option>
                                 <option ng-repeat="category in categories" value="{{category._id}}">{{category.categoryname}}</option>
                            </select> 
                        </div>
                        <button class="btn btn-primary" type="submit" ng-disabled="addpostform.$invalid"><i class="fa fa-plus-circle"></i> Add Post</button>
                        <a href="/home/" class="btn btn-default"><i class="fa fa-chevron-left"></i> Go Back</a>
                    </div>
                </form>   
            </div>
        </div>
    </div>