    <!-- USER MESSAGE DISPLAY BLOCK -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-message" ng-show="userMessage !=''">
                    <button class="btn hide-message-btn" ng-click="hideMessage()"><i class="fa fa-times"></i></button>
                    <p>{{userMessage}}</p>
                 </div>
            </div>
        </div>
    </div>       
    <!--  DISPLAY ALL CATEGORIES -->  
    <div id="posts-display">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="right-post-btns admin-toolbar clearfix">
                        <a class="right" ng-href="/add-category" ng-show="isAdmin"><i class="fa fa-plus-square"></i> Add New Category</a>
                        <a class="right" ng-href="/add-post" ng-show="isLoggedIn"><i class="fa fa-plus-square"></i> Add New Post</a>
                        <a class="right" ng-href="/login" ng-show="!isLoggedIn">Login To Post</a>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title">Categories</h1>
				</div>
			</div>
		</div>
        <div ng-if="categories.length == 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="user-message warning" ng-show="message !=''">
                            <p>No Categories To Display</p>
                         </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="container"  ng-if="categories.length != 0">
            <div class="row">
                <div class="table-wrap">
                    <div class="col-md-8 col-sm-7 col-xs-8 table-heading">
                        <p ng-click="orderByTitle()">Categories
                            <span ng-show="rowFilter == 'categoryname'"><i class="fa fa-arrow-circle-down"></i></span>
                            <span ng-show="rowFilter == '-categoryname'"><i class="fa fa-arrow-circle-up"></i></span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4 table-heading">
                        <p ng-click="orderByTopics()">Topics
                            <span ng-show="rowFilter == '-posts.length'"><i class="fa fa-arrow-circle-down"></i></span>
                            <span ng-show="rowFilter == 'posts.length'"><i class="fa fa-arrow-circle-up"></i></span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs table-heading">
                        <p ng-click="orderByViews()">Views
                            <span ng-show="rowFilter == 'views'"><i class="fa fa-arrow-circle-down"></i></span>
                            <span ng-show="rowFilter == '-views'"><i class="fa fa-arrow-circle-up"></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="table-wrap">
                <div class="row post-row" ng-repeat="category in categories | orderBy: rowFilter">
                    <div class="col-md-8 col-sm-7 col-xs-8">
                        <p><a href="/categories/{{category.categoryslug}}">{{category.categoryname | cut:true:60: ' ...'}}</a> <a class="delete-button"  ng-href="/delete-category/{{category._id}}" ng-show="isAdmin"><i class="fa fa-times-circle-o"></i></a></p>
                        <p ng-if="category.categorydescription" class="category-description">{{category.categorydescription | cut:true:60: ' ...'}}</p>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <p>{{category.posts.length}}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <p>{{category.views}}</p>
                    </div>
                </div>
            </div>
        </div>       
    </div>
   