	<!-- USER MESSAGE DISPLAY BLOCK -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-message" ng-show="userMessage !=''">
                    <button class="btn hide-message-btn" ng-click="hideMessage()"><i class="fa fa-times"></i></button>
                    <p>{{userMessage}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="posts-display">
		<div class="container add-margin-bottom">
			<div class="row">
				<div class="col-md-12 admin-toolbar clearfix">
					<div class="right-post-btns">
						<a class="right" ng-href="/add-post"><i class="fa fa-plus-square"></i> Add New Post</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title"><a href="/categories">Delete a Category</a> <i class="fa fa-chevron-right"></i> {{category.categoryname}}</h1>
					<p class="warning">Are you sure you want to delete this category? All posts and comments in <strong>{{category.categoryname}}</strong> will be deleted forever!</p>
				</div>
			</div>
			<a class="btn btn-danger delete-btn" ng-click="deleteCategory()"><i class="fa fa-exclamation-triangle"></i> Delete Category &amp; All Posts</a>
		</div>
        <!-- start responsive table header -->
		<div ng-if="category.posts == 0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="user-message warning" ng-show="message !=''">
							<p>No Posts To Display</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="category.posts != 0">
			<div class="container">
				<div class="row">
					<div class="table-wrap">
						<div class="col-md-12 col-sm-12 col-xs-12 table-heading">
							<p ng-click="orderByTitle()">Posts to Delete
								<span ng-show="rowFilter == 'title'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == '-title'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
					</div>
				</div>
			</div>
        <!-- end responsive table header -->
		</div>
        <!-- start display posts -->
        <div class="container">
            <div class="table-wrap">
                <div class="row post-row" ng-repeat="post in category.posts | orderBy: rowFilter">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p><a href="/viewpost/{{post._id}}">{{post.title | cut:true:60: ' ...'}}</a><span ng-if="post.active == false" class="tag-post">Closed</span></p>
                        <p class="category-description">Posted {{post.created | date:'MM-dd-yy @ HH:mm:ss' }} by {{post.author }}</p>
                    </div>
                </div>
            </div>
        </div>     
    </div><!-- end posts-display -->
   