    <!-- ERROR MESSAGE DISPLAY BLOCK -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-message warning" ng-show="serverError !=''">
                    <p>{{serverError}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN FORM -->
    <div id="form-container">
        <div class="container">
            <div class="row">
                <form name="loginform" ng-submit="logIn()" novalidate >
                    <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6">
                        <h1 class="page-title">Sign In</h1>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" ng-model="user.username" name="username" required/>
                            <div class="error-container" ng-messages="loginform.username.$error" ng-if="loginform.username.$touched">
                                <p ng-message="required">Your username is required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" ng-model="user.password" name="password" required/>
                            <div class="error-container" ng-messages="loginform.password.$error" ng-if="loginform.password.$touched">
                                <p ng-message="required">Your password is required.</p>
                            </div>
                        </div>
                        <button class="btn btn-primary add-margin-bottom" type="submit" ng-disabled="loginform.$invalid"><i class="fa fa-plus-circle"></i> Log In</button>
                        <div class="user-message standard">
                            Need to sign up for an account? <a href="/register">Sign Up</a>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </div>
    