	<!-- USER MESSAGE DISPLAY BLOCK -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-message" ng-show="userMessage !=''">
                    <button class="btn hide-message-btn" ng-click="hideMessage()"><i class="fa fa-times"></i></button>
                    <p>{{userMessage}}</p>
                 </div>
            </div>
        </div>
    </div> 
    <!-- DISPLAY CATEGORIES TABLE HEADER AND CONTROLS -->
    <div id="posts-display">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="right-post-btns right-post-btns admin-toolbar clearfix">
						<a class="right" ng-href="/add-post" ng-show="isLoggedIn"><i class="fa fa-plus-square"></i> Add New Post</a>
                        <a class="right" ng-href="/login" ng-show="!isLoggedIn">Login To Post</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title"><a href="/categories">Categories</a> <i class="fa fa-chevron-right"></i> {{category.categoryname}}</h1>
				</div>
			</div>
		</div>
		<div ng-if="category.posts == 0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="user-message warning" ng-show="message !=''">
							<p>No Posts To Display</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="category.posts != 0">
			<div class="container">
				<div class="row">
					<div class="table-wrap">
						<div class="col-md-6 col-sm-6 col-xs-6 table-heading">
							<p ng-click="orderByTitle()">Title
								<span ng-show="rowFilter == 'title'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == '-title'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-3 table-heading">
							<p ng-click="orderByReplies()">Replies
								<span ng-show="rowFilter == 'comments.length'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == '-comments.length'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
						<div class="col-md-2 col-sm-2 hidden-xs table-heading">
							<p ng-click="orderByView()">Views
								<span ng-show="rowFilter == 'views'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == '-views'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-3 table-heading">
							<p ng-click="orderByVotes()">Votes
								<span ng-show="rowFilter == '-upvotes'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == 'upvotes'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- DISPLAY CATEGORIES -->
        <div class="container">
            <div class="table-wrap">
                <div class="row post-row" ng-repeat="post in category.posts | orderBy: rowFilter">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><a href="/view-post/{{post._id}}/{{post.title | slugify}}">{{post.title | cut:true:60: ' ...'}}</a><span ng-if="post.active == false" class="tag-post">Closed</span></p>
                        <p class="category-description" title="{{post.created | date:'MM-dd-yy @ h:mm a'}}">Posted {{post.created | timeAgo }} by {{post.author }}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <p>{{post.comments.length }}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <p>{{post.views}}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <p class="upvote-display"><span class="upvote-count">+{{post.upvotes}}</span>&nbsp;<span class="downvote-count">-{{post.downvotes}}</span></p>
                    </div>
                </div>
            </div>
            <p class="category-description right">Created by: {{ category.createdby }} <span title="{{category.created | date:'MM-dd-yy @ h:mm a'}}">{{category.created | timeAgo}}</span></p>
        </div>     
    </div><!-- end posts-display -->
   