<div id="view-posts-display">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-default back-btn" href="/#/home">Go Back</a>
						<h1 class="post-title">{{post.title}}</h1>
						<p class="post-created-date">Created at {{post.created | date:'MM-dd-yy @ HH:mm:ss'}}</p>
						<div class="view-post-content">{{post.postcontent}}</div>
						<div class="info-line">
							{{post.upvotes}}&nbsp;Likes, {{post.comments.length}}&nbsp;Comments
						</div>
						<div class="row">
							<div class="col-md-3">
								<span class="upvote-button" ng-click="upvotePost(post)"><i class="fa fa-thumbs-up"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 comment-container">
						<form ng-submit="addComment()" class="add-comment-form">
							<div class="row">
								<div class="col-md-9">
									<input type="text" class="form-control" ng-model="newComment" placeholder="Add a Comment">
								</div>
								<div class="col-md-3">
									<button type="submit" class="btn btn-primary">Add a Comment</button>
								</div>
							</div>
						</form>
						<h4>{{post.comments.length}} Comments on &quot;{{post.title | cut:true:20: ' ...'}}&quot;</h4>
						<div class="comment-block" ng-repeat="comment in post.comments | orderBy : -comment.created">
							<p class="post-created-date">Commented at {{comment.created | date:'MM-dd-yy @ HH:mm:ss'}}</p>
							<p class="comment-body">{{comment.body}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" id="recent-posts-feed">
				Recent posts feed here
			</div>	
		</div>	
	</div>
</div>
