<div id="view-posts-display">
	<div class="container">
		<div class="row">
			<div class="col-md-12 admin-toolbar clearfix">
				<div class="right-post-btns">
					<a class="right delete-button" ng-href="/#/deletepost/{{post._id}}"><i class="fa fa-times-circle-o"></i> Delete</a>
					<a class="right delete-button" ng-href="/#/editpost/{{post._id}}"><i class="fa fa-pencil-square-o"></i> Edit</a>
					<!-- close and open discussion -->
					<a class="right close-button" ng-if="post.active == true" ng-href="/#/closepost/{{post._id}}"><i class="fa fa-sign-out"></i> Close Discussion</a>
					<a class="right close-button" ng-if="post.active == false" ng-href="/#/openpost/{{post._id}}"><i class="fa fa-sign-out"></i> Reopen Discussion</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<h1 class="page-title">{{post.title}}</h1>
						<p class="post-created-date">Created by: {{post.author }} on {{post.created | date:'MM-dd-yy @ HH:mm:ss'}}</p>
						<div class="view-post-content">{{post.postcontent}}</div>
						<div class="info-line">
							{{post.upvotes}}&nbsp;Likes |&nbsp;{{post.downvotes}}&nbsp;Dislikes |&nbsp;{{post.comments.length}}&nbsp;Comments |&nbsp;Category:&nbsp;{{post.category}}
						</div>
						<div class="row">
							<div class="col-md-3">
								<span class="upvote-button" ng-click="upvotePost(post)"><i class="fa fa-thumbs-up"></i></span>
								<span class="downvote-button" ng-click="downvotePost(post)"><i class="fa fa-thumbs-down"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 comment-container">
						<div ng-show="post.active == true">
							<form ng-submit="addComment(addcommentform.$valid)" class="add-comment-form" name="addcommentform" novalidate>
								<div class="row">
									<div class="col-md-9">
										<input type="text" class="form-control" ng-model="newComment" placeholder="Add a Comment" required ng-maxlength="100">
									</div>
									<div class="col-md-3">
										<button type="submit" class="btn btn-primary" ng-disabled="addcommentform.$invalid">Add a Comment</button>
									</div>
								</div>
							</form>
						</div>
						<div ng-show="post.active == false">
							<div class="user-message">
							This Discussion Is Closed.
							</div>
						</div>
						<h4>{{post.comments.length}} Comment<span ng-if="post.comments.length > 1">s</span> on &quot;{{post.title | cut:true:20: ' ...'}}&quot;</h4>
						<div class="comment-block" ng-repeat="comment in post.comments | orderBy : -comment.created">
							<p class="post-created-date">Commented at {{comment.created | date:'MM-dd-yy @ HH:mm:ss'}}</p>
							<p class="comment-body">{{comment.body}}</p>
							<div class="info-line">
							{{comment.upvotes}}&nbsp;Likes, {{comment.downvotes}}&nbsp;Dislikes
							</div>
							<span class="upvote-button" ng-click="upvoteComment(comment)"><i class="fa fa-thumbs-up"></i></span>
							<span class="downvote-button" ng-click="downvoteComment(comment)"><i class="fa fa-thumbs-down"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" id="recent-posts-feed">
				<h4>Recent Posts</h4>
				<div class="recent-post" ng-repeat="recentpost in posts | orderBy: '-created'" ng-if="recentpost.title != post.title">
					<a ng-href="/#/viewpost/{{recentpost._id}}">{{recentpost.title | cut:true:40: ' ...' }}</a>
					<div class="info-line">
						{{recentpost.upvotes}}&nbsp;Likes, {{recentpost.downvotes}}&nbsp;Dislikes, {{recentpost.comments.length}}&nbsp;Comments
					</div>
				</div>
			</div>	
		</div>	
	</div>
</div>
